:root {
    --main-bg-color: #e0e0e0;
    --font-card-title: 18px;
    --error-text: rgb(203, 11, 11);
    --success-text: green;
}

body {
    background: var(--main-bg-color);
}

.img-avatar {
    max-height: 120px;
    max-width: 120px;
}

.img-circle {
    border-radius: 100%;
}

.error-text {
    color: var(--error-text);
    font-size: 14px;
    padding: 3px;
}

.success-text {
    color: var(--success-text);
    font-size: 14px;
    padding: 3px;
}

.error-field {
    border-color: var(--error-text);
}

.pointer {
    cursor: pointer;
}

.navbar .container {
    padding: 10px;
}

.navbar .container ul li a {
    color: white;
    text-decoration: none;
}

.navbar .container ul {
    margin-bottom: 0;
    padding-left: 0;
}

.navbar .container ul li {
    margin-left: 20px;
    margin-right: 20px;
}

.dropdown-menu .dropdown-item {
    color: black !important;
}

.dropdown-menu .dropdown-item:active {
    background: gainsboro;
}

.card-login {
    /* margin-top: 1rem; */
    width: 50%;
}

.card-login .card-header {
    padding: 15px 20px;
    font-size: var(--font-card-title);
}

.card-login .card-body {
    padding: 1rem 5rem;
}