<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container d-flex justify-content-between">
        <div>
            <a class="navbar-brand" href="#">Nest JS Clontagram</a>
        </div>
        
        <% if (userLogged) { %>

            <ul class="d-flex flex-row align-items-center">
                <li><a href="/user">Incio</a></li>
                <li><a href="/user/people">Personas</a></li>
                <li><a href="/like">Favoritas</a></li>
                <li><a href="/image/create">Subir imagen</a></li>
                <li class="dropdown">
                    <a role="button" href="#" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle" id="dropUser">
                        <%= userLogged.name %> <%= userLogged.surname %> 
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropUser">
                        <li><a href="/user/<%= userLogged.id %>" class="dropdown-item">Mi perfil</a></li>
                        <li><a href="/user/config" class="dropdown-item">Configuracion</a></li>
                        <li><a href="/logout" class="dropdown-item">Cerrar sesion</a> </li>
                    </ul>
                </li>
                <li>
                    <!-- image -->
                    <%- include('avatar', { userLogged }) -%>
                </li>
            </ul>

        <% } else { %>
            
            <ul class="d-flex flex-row">
                <li><a href="/">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>

        <% } %> 
    </div>
  </nav>